.logo h2 {
	display: inline-block;
	color: #fff;
	line-height: 1;
}

.nav__link {
	color: #fff;
	text-transform: uppercase;
	margin: 0 8px;
	font-weight: bold;

	&.active {
		color: orange;
	}
}

.header__user {
	display: block;
	color: unset;
	width: 100%;
}

.MuiAvatar-root.MuiAvatar-circular {
	width: 30px;
	height: 30px;
}

.notification__link {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 8px;
}
